.course{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 15px ;
    margin-left: 10px;
}


.course{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 15px ;
    margin-left: 10px;
}
@media only screen and (min-width:991px ){
  .img-container img:hover{
    position: relative;
    left: 100px;
  }
}


.img-container img:hover{
  
  border-bottom: 10px solid black;
  box-shadow: inset;
  transition-duration: .5s;
  transform: scale(1,1);
  /* padding: 10px; */
    /* width: 400px; */
} 

.img-container img:hover{
    border-top: 10px solid goldenrod;
    box-shadow: inset;
    transition-duration: .75s;
  } 

  .btn-back:hover{
       background-color: goldenrod;
  }